.content {
    float: left;
    width: 66.333%;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.content h2 {
    margin-bottom: 2%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.4em;
    color: #A57873;
    text-transform: capitalize;
    text-shadow: 0 1px 0 #FFFFFF;
    letter-spacing: -1px;
    line-height: 1.5em;
}

.content h4 {
    margin-bottom: 2%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4em;
    line-height: 20px;
    text-transform: capitalize;
    text-shadow: 0px 1px 0 #fff;
    color: #916D69;
}

.content p {
    color: #805752;
    font-size: 0.8125em;
    line-height: 1.8em;
}

.content p.top {
    margin-top: 2%;
}

.sidebar {
    float: left;
    width: 30.333%;
    margin-left: 3.333%;
}

.sidebar h2 {
    margin-bottom: 2%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.4em;
    color: #A57873;
    text-transform: capitalize;
    text-shadow: 0 1px 0 #FFFFFF;
    letter-spacing: -1px;
    line-height: 1.5em;
}
.s_bg{
    display: inline-block;
}

.blog_posts {
    padding-bottom: 20px;
}

.blog_date {
    float: left;
    width: 20%;
}

.blog_date img {
    margin-top: 5px;
    padding: 5px;
    background: #E8CFBF;
    box-shadow: 0px 12px 14px -14px #121D11;
    -webkit-box-shadow: 0px 12px 14px -14px #121D11;
    -moz-box-shadow: 0px 12px 14px -14px #121D11;
    -o-box-shadow: 0px 12px 14px -14px #121D11;
}

.blog_desc {
    float: left;
    padding-left: 2%;
    width: 78%;
}

.blog_heading p.date {
    padding-bottom: 5px;
}

.blog_desc p {
    color: #805752;
    font-size: 0.8125em;
    line-height: 1.8em;
}

.blog_heading p span {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    line-height: 20px;
    text-transform: capitalize;
    text-shadow: 0px 1px 0 #fff;
    color: #916D69;
}

/* Button 2 */
.rd_more {
    margin-top: 3%;
}

.btn {
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 24px;
    display: inline-block;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-weight: 400;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-2 {
    box-shadow: 0 4px rgb(207, 51, 67);
    -webkit-box-shadow: 0 4px rgb(207, 51, 67);
    -moz-box-shadow: 0 4px rgb(207, 51, 67);
    -o-box-shadow: 0 4px rgb(207, 51, 67);
    color: #ffffff;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    background: rgb(222, 61, 77);
    background: -moz-linear-gradient(top, rgba(222, 61, 77, 1) 0%, rgba(227, 62, 79, 1) 27%, rgba(222, 61, 77, 1) 57%, rgba(188, 35, 51, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(222, 61, 77, 1)), color-stop(27%, rgba(227, 62, 79, 1)), color-stop(57%, rgba(222, 61, 77, 1)), color-stop(100%, rgba(188, 35, 51, 1)));
    background: -webkit-linear-gradient(top, rgba(222, 61, 77, 1) 0%, rgba(227, 62, 79, 1) 27%, rgba(222, 61, 77, 1) 57%, rgba(188, 35, 51, 1) 100%);
    background: -o-linear-gradient(top, rgba(222, 61, 77, 1) 0%, rgba(227, 62, 79, 1) 27%, rgba(222, 61, 77, 1) 57%, rgba(188, 35, 51, 1) 100%);
    background: -ms-linear-gradient(top, rgba(222, 61, 77, 1) 0%, rgba(227, 62, 79, 1) 27%, rgba(222, 61, 77, 1) 57%, rgba(188, 35, 51, 1) 100%);
    background: linear-gradient(to bottom, rgba(222, 61, 77, 1) 0%, rgba(227, 62, 79, 1) 27%, rgba(222, 61, 77, 1) 57%, rgba(188, 35, 51, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de3d4d', endColorstr='#bc2333', GradientType=0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button 2c */
.btn-2c:hover {
    box-shadow: 0 4px #B41D1D;
    -webkit-box-shadow: 0 4px #B41D1D;
    -moz-box-shadow: 0 4px #B41D1D;
    -o-box-shadow: 0 4px #B41D1D;
    top: 0px;
}

.btn-2c:active {
    box-shadow: 0 0 #ab3c3c;
    -webkit-box-shadow: 0 0 #ab3c3c;
    -moz-box-shadow: 0 0 #ab3c3c;
    -o-box-shadow: 0 0 #ab3c3c;
    top: 4px;
}