tr,
th,
td,
table {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    height: 52px;
    width: 101px;
}

td {
    height: 74px;
}

tr {
    text-align: center;
}

label {
    font-size: 25px;
    color: rebeccapurple;
    font-weight: bold;
    border-bottom: 1px solid rebeccapurple;
}

.grp {
    position: relative;
    top: 56px;
}

select {
    font-size: 20px;
    color: rebeccapurple;
}

#result {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    top: 89px;
}

.blood-grp {
    height: 63vh;
}

.footer {
    background-color: red;
    border: 1px solid;
    height: 79px;
}