* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-logo {
    background-color: red;
    border-bottom: 4px solid darkred;
    border-left: 4px solid darkred;
    border-right: 4px solid darkred;
}